h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}

h4 {
  font-family: 'Poppins', sans-serif;
}

hr {
  background-color: #ccc;
  width: 800px;
}

.navbar-start {
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  color: inherit;
}

.navbar-start a {
  font-family: 'Poppins', sans-serif;
  padding-left: 30px;
  color: firebrick;
}

.category-name {
  margin-top: 15px;
  margin-bottom: 0;
  margin-left: 170px;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  color: firebrick;
}

.card {
  min-width: 95%;
  height: auto;
  margin: 40px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  overflow: hidden;
}

.card-image img {
  max-width: 100%;
  min-height: 100%;
  object-fit: contain;
  display: block;
  line-height: 0;
  margin: 0;
}

.card-content {
  font-family: 'Avenir';
  margin-top: 15px;
  margin-left: 3%;
  margin-right: 5%;
}

.posts {
  display: flex;
  padding-top: 0;
  padding-left: 150px;
  padding-right: 150px;
  
}

.post-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  overflow: hidden;
  margin: 20px;
  width: 30%;
  height: 40%;
}

.post-image img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  line-height: 0;
}

.form-newsletter {
  text-align: center;
}

.footer {
  padding-top: 90px;
  height: 300px;
  background-color: lightgrey;
}

.footer h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  margin-bottom: 0;
  text-align: center;
}

.footer input {
  margin-top: 10px;
  width: 230px;
  height: 35px;
  border-radius: 25px 25px 25px 25px;
  outline: none;
  background: white;
  border: none;
  letter-spacing: 1px;
  text-shadow: 0;
  text-align: center;
}

.footer button {
  width: 120px;
  height: 40px;
  margin-left: 5px;
  border-radius: 25px 25px 25px 25px;
  outline: none;
  background: firebrick;
  border: none;
  letter-spacing: 1px;
  text-shadow: 0;
  color: #fff;
}

